name: Build, Test, and Publish
on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "latest"
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: "latest"
      - name: Install NPM Packages
        run: npm ci --no-audit --no-fund --no-save
        timeout-minutes: 5
      - name: Build
        run: npm run build
      - name: Run Node.js Tests
        run: npm run test:node
      - name: Run Bun Tests
        run: npm run test:bun
      - name: Run Deno Tests
        run: npm run test:deno
  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          check-latest: true
      - name: Publish package
        run: npx jsr publish
